Repository waterloo-rocketry/topside, pull requests merged in 2020-11, with the labels that each got.

#100 proc: Add misc actions to ProcLang
  topside/procedures/procedure.py
  topside/procedures/proclang.py
  topside/procedures/tests/example.proc
  topside/procedures/tests/example.tex
  topside/procedures/tests/test_procedure.py
  topside/procedures/tests/test_proclang.py
Labels: enhancement, procedures

#102 Procedure runner
  topside/procedures/tests/run_simulation.py
Labels: procedures

#101 proclang: Fix step ID bug, allow commas in misc actions
  topside/procedures/proclang.py
  topside/procedures/tests/test_proclang.py
Labels: procedures

#103 app: Rewrite base application to be Widget-centric
  application/application.py
  application/resources/application.qml
  application/tests/test_application.py
  application/visualization_area.py
  main.py
Labels: application

#105 app: Move time controls to PlumbingBridge
  application/plumbing_bridge.py
  application/procedures_bridge.py
  application/resources/PlumbingPane.qml
  application/tests/test_proc_plumb_integration.py
  application/tests/test_procedures_bridge.py
Labels: application
