Repository waterloo-rocketry/topside, pull requests merged in 2020-12, with the labels that each got.

#110 proc: Add string representations for conditions
  topside/procedures/conditions.py
  topside/procedures/tests/test_conditions.py
Labels: procedures

#111 proc: Support hyphens in ProcLang
  topside/procedures/proclang.py
  topside/procedures/tests/test_proclang.py
Labels: procedures

#113 plumb: Make PlumbingEngine.reset respect fixed pressures
  topside/plumbing/plumbing_engine.py
  topside/plumbing/tests/test_plumbing_engine_editing.py
Labels: plumbing

#112 proc: Introduce pre- and post-nodes
  application/procedures_bridge.py
  application/resources/ProceduresPane.qml
  application/resources/example.proc
  application/tests/test_proc_plumb_integration.py
  application/tests/test_procedures_bridge.py
  topside/procedures/procedures_engine.py
  topside/procedures/tests/run_simulation.py
  topside/procedures/tests/test_procedures_engine.py
Labels: application, enhancement, procedures
