Repository waterloo-rocketry/topside, pull requests merged in 2020-10, with the labels that each got.

#74 Add personnel info to ProcLang
  topside/procedures/proclang.py
  topside/procedures/tests/example.proc
  topside/procedures/tests/test_proclang.py
Labels: procedures

#67 Add miscellaneous actions to procedures
  application/procedures_bridge.py
  application/visualization_area.py
  topside/pdl/exceptions.py
  topside/procedures/procedure.py
  topside/procedures/procedures_engine.py
  topside/procedures/proclang.py
  topside/procedures/tests/test_procedures_engine.py
  topside/procedures/tests/test_proclang.py
Labels: procedures

#58 app/proc: Load real procedures and upgrade viz
  application/application.py
  application/procedures_bridge.py
  application/resources/ProceduresPane.qml
  application/resources/application.qml
  application/resources/example.proc
  topside/procedures/procedures_engine.py
  topside/procedures/tests/test_procedures_engine.py
Labels: application, procedures

#77 pdl: Fix a bug in typedef validation
  topside/pdl/example.yaml
  topside/pdl/file.py
  topside/pdl/tests/test_file.py
  topside/pdl/tests/test_package.py
Labels: plumbing

#78 app: Determine plumbing viz scaling at runtime
  application/tests/__init__.py
  application/tests/test_application_utils.py
  application/visualization_area.py
Labels: application

#79 app: Integrate plumbing engine and PDL loading
  application/application.py
  application/plumbing_bridge.py
  application/procedures_bridge.py
  application/resources/PlumbingPane.qml
  application/resources/ProceduresPane.qml
  application/resources/application.qml
  application/resources/example.pdl
  application/resources/example.proc
  application/resources/themes/default/step_backwards.png
  application/visualization_area.py
  topside/visualization/optimization/optimization.py
Labels: application

#88 app: Add tests for Topside bridge code
  application/procedure_wrappers.py
  application/procedures_bridge.py
  application/tests/test_proc_plumb_integration.py
  application/tests/test_procedure_wrappers.py
  application/tests/test_procedures_bridge.py
Labels: application

#91 app: Draw only one label per plumbing component
  application/visualization_area.py
  topside/visualization/layout.py
  topside/visualization/optimization/optimization.py
  topside/visualization/tests/test_layout.py
Labels: application

#93 app: Unit test VisualizationArea functions
  .coveragerc
  .gitignore
  application/tests/test_application_utils.py
  application/tests/test_proc_plumb_integration.py
  application/tests/test_visualization_area.py
  application/visualization_area.py
Labels: application

#90 Latex export
  topside/procedures/conditions.py
  topside/procedures/procedure.py
  topside/procedures/tests/example.tex
  topside/procedures/tests/test_latex_export.py
Labels: procedures

#95 Add CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation
